<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true"/>
	</system.web>


	 <system.serviceModel>
		 <bindings>
    <basicHttpBinding>
     <binding name="BasicHttpBinding_IProxyService"/>
	 <binding name="Binding" maxReceivedMessageSize="2147483647"/>
    </basicHttpBinding>
    <webHttpBinding>
     <binding name="Binding" maxReceivedMessageSize="2147483647"/>
    </webHttpBinding>
   </bindings>
		 <client>
    <endpoint address="http://localhost:8090/LetsGoBiking/ProxyService/" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProxyService" contract="JCDecauxService.IProxyService" name="BasicHttpBinding_IProxyService"/>
   </client>
		 <services>
			 <service name="RoutingServer.RoutingService">
				 <host>
					 <baseAddresses>
						 <add baseAddress="http://localhost:8090/LetsGoBiking/RoutingService/"/>
					 </baseAddresses>
				 </host>
				 <!-- Service Endpoints -->
				 <!-- Unless fully qualified, address is relative to base address supplied above -->
				 <endpoint address="" binding="basicHttpBinding" bindingConfiguration="Binding" contract="RoutingServer.IRoutingService">
					 <!-- 
              Upon deployment, the following identity element should be removed or replaced to reflect the 
              identity under which the deployed service runs.  If removed, WCF will infer an appropriate identity 
              automatically.
          -->
					 <identity>
						 <dns value="localhost"/>
					 </identity>
				 </endpoint>

				 <endpoint address="rest/" binding="webHttpBinding" bindingConfiguration="Binding" contract="RoutingServer.IRoutingService" behaviorConfiguration="RestConfiguration"/>
				 <!-- Metadata Endpoints -->
				 <!-- The Metadata Exchange endpoint is used by the service to describe itself to clients. -->
				 <!-- This endpoint does not use a secure binding and should be secured or removed before deployment -->
				 <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			 </service>
		 </services>

		 <extensions>
			 <behaviorExtensions>
				 <add name="corsBehavior" type="RoutingServer.EnableCrossOriginResourceSharingBehavior, RoutingServer"/>
			 </behaviorExtensions>
		 </extensions>

		 <behaviors>
			 <serviceBehaviors>
				 <behavior>
					 <serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>

					 <serviceDebug includeExceptionDetailInFaults="True"/>
				 </behavior>
			 </serviceBehaviors>

			 <endpointBehaviors>
				 <behavior name="RestConfiguration">
					 <corsBehavior/>
					 <webHttp/>
				 </behavior>
			 </endpointBehaviors>

		 </behaviors>
	 </system.serviceModel>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Access-Control-Allow-Origin" value="*"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
